parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - ./src
    excludes_analyse:
        - ./src/Resources/app/administration/node_modules/*
        - ./src/Resources/app/storefront/node_modules/*

services:
    - class: Cko\Shopware6\PHPStan\NoManufacturerRule
      tags:
        - phpstan.rules.rule
