{% block checkout_com_google_pay_display %}
    {% block checkout_com_google_pay_display_active_condition %}
        {% if active %}
            {% block checkout_com_google_pay_display_import %}
                <script defer
                        src="https://pay.google.com/gp/p/js/pay.js"
                        onload="onCheckoutComGooglePayLoaded()">
                </script>
            {% endblock %}

            {% set ENV_TEST = constant('Cko\\Shopware6\\Handler\\Method\\GooglePayHandler::ENV_TEST') %}
            {% set ENV_PRODUCTION = constant('Cko\\Shopware6\\Handler\\Method\\GooglePayHandler::ENV_PRODUCTION') %}
            {% block checkout_com_google_pay_display_script_define %}
                <script type="text/javascript">
                    // We have to register the window.googlePayClient to be able to use it in Shopware Plugin
                    function onCheckoutComGooglePayLoaded() {
                        if (typeof window.googlePayClient === 'undefined' || window.googlePayClient === null) {
                            window.googlePayClient = new google.payments.api.PaymentsClient({
                                environment: '{{ page.extensions.checkoutCom.sandboxMode ? ENV_TEST : ENV_PRODUCTION }}',
                            });
                        }
                    }
                </script>
            {% endblock %}
        {% endif %}
    {% endblock %}

    {% block checkout_com_google_pay_display_component %}
        {% set googlePayDisplayOptions = {
            "active" : active,
            "selectedPaymentMethodId": context.paymentMethod.id ?? context.customer.defaultPaymentMethodId ?? null
        } %}

        {% block checkout_com_google_pay_display_component_element %}
            <div id="checkoutComGooglePayDisplay"
                 class="checkout-com-google-pay-display"
                 data-checkout-com-google-pay-display="true"
                 data-checkout-com-google-pay-display-options='{{ googlePayDisplayOptions|json_encode }}'
            >
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}
