{% block checkout_com_google_pay_confirm %}
    {% set totalAmount = page.order is defined ? page.order.price.totalPrice : page.cart.price.totalPrice %}
    {% set googlePayConfirmOptions = {
        "amount": totalAmount|strval,
        "currencyCode": context.currency.translated.shortName,
        "countryCode": context.shippingLocation.country.iso,
        "shopName": config('core.basicInformation.shopName'),
        "publicKey": page.extensions.checkoutCom.publicKey,
        "merchantId": page.extensions.checkoutCom.googlePayMerchantId,
    } %}

    {% block checkout_com_google_pay_confirm_element %}
        <div id="checkoutComGooglePayConfirm"
             class="checkout-com-google-pay-confirm d-none"
             data-checkout-com-google-pay-confirm="true"
             data-checkout-com-google-pay-confirm-options='{{ googlePayConfirmOptions|json_encode }}'
        >
        </div>
    {% endblock %}
{% endblock %}
