{% block checkout_com_google_pay_display %}
    {% set ENV_TEST = constant('Cko\\Shopware6\\Handler\\Method\\GooglePayHandler::ENV_TEST') %}
    {% set ENV_PRODUCTION = constant('Cko\\Shopware6\\Handler\\Method\\GooglePayHandler::ENV_PRODUCTION') %}

    {% set googlePayDisplayOptions = {
        "active" : active,
        "environment": page.extensions.checkoutCom.sandboxMode ? ENV_TEST : ENV_PRODUCTION,
        "selectedPaymentMethodId": context.paymentMethod.id ?? context.customer.defaultPaymentMethodId ?? null
    } %}

    {% block checkout_com_google_pay_display_component_element %}
        <div id="checkoutComGooglePayDisplay"
             class="checkout-com-google-pay-display"
             data-checkout-com-google-pay-display="true"
             data-checkout-com-google-pay-display-options='{{ googlePayDisplayOptions|json_encode }}'
        >
        </div>
    {% endblock %}
{% endblock %}
