{% block checkout_plugin_config_section_api %}
    <div class="checkout-plugin-config-section-api">
        {% block checkout_plugin_config_section_api_secret_key %}
            <sw-password-field
                copyable
                type="password"
                v-model="config.secretKey"
                :is-invalid="error.secretKey"
                :label="$tc('checkout-payments.config.api.secretKeyLabel')"
                :placeholder="$tc('checkout-payments.config.api.secretKeyLabel')"
                :disabled="isLoading"
            ></sw-password-field>
        {% endblock %}

        {% block checkout_plugin_config_section_api_public_key %}
            <sw-password-field
                copyable
                type="password"
                v-model="config.publicKey"
                :is-invalid="error.publicKey"
                :label="$tc('checkout-payments.config.api.publicKeyLabel')"
                :placeholder="$tc('checkout-payments.config.api.secretKeyLabel')"
                :disabled="isLoading"
            ></sw-password-field>
        {% endblock %}

        {% block checkout_plugin_config_section_api_sandbox_mode %}
            <sw-switch-field
                bordered
                v-model="config.sandboxMode"
                :label="$tc('checkout-payments.config.api.sandboxModeLabel')"
                :help-text="$tc('checkout-payments.config.api.sandboxModeHelpText')"
                :disabled="isLoading"
            ></sw-switch-field>
        {% endblock %}

        {% block checkout_plugin_config_section_api_extra_component %}
            <sw-container gap="16px" columns="1fr 2fr">
                {% block checkout_plugin_config_section_api_extra_component_test_button %}
                    <sw-button @click="onTestButtonClicked" ref="testApiButton" :is-loading="isLoading">
                        {{ $tc('checkout-payments.config.api.testButton') }}
                    </sw-button>
                {% endblock %}
                {% block checkout_plugin_config_section_api_extra_component_link_button %}
                    <sw-external-link
                        :small="false" icon="small-arrow-small-external" rel="noopener"
                        class="checkout-plugin-config-payments-link"
                        :href="apiLink"
                        target="_blank">
                        {{ $tc('checkout-payments.config.api.apiLinkButton') }}
                    </sw-external-link>
                {% endblock %}
            </sw-container>
        {% endblock %}
    </div>
{% endblock %}
