{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_container %}
    {{ parent() }}

    {% block checkout_com_page_product_detail_buy_container_direct %}
        {% if buyable %}
            {% block checkout_com_page_product_detail_buy_container_direct_apple_pay_component %}
                <div class="form-row mt-3 justify-content-end checkout-com-direct-pay-container d-none">
                    {% sw_include '@CheckoutCom/storefront/checkout-com/component/apple/apple-pay-button.html.twig' with {cols: 'col-8'} %}
                </div>
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}
