<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>API Keys</title>
        <title lang="de-DE">API Keys</title>

        <component name="checkout-plugin-config-section-api">
            <name>checkoutPluginConfigSectionApi</name>
        </component>
    </card>

    <card>
        <title>Registered webhook</title>
        <title lang="de-DE">Registrierter Webhaken</title>

        <component name="checkout-plugin-config-webhook-section">
            <name>checkoutPluginConfigWebhook</name>
        </component>
    </card>

    <card>
        <title>Order State Automation</title>
        <title lang="de-DE">Auftragsstatus Automatisierung</title>

        <component name="checkout-plugin-config-section-order-state">
            <name>checkoutPluginConfigSectionOrderState</name>
        </component>
    </card>
</config>
