input {
    &.checkout-com-field__cardholder-name {
        -webkit-text-fill-color: #13395e;
        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: rgb(117, 117, 117);
        }
        &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: rgb(117, 117, 117);
            opacity: 1;
        }
        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: rgb(117, 117, 117);
            opacity: 1;
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgb(117, 117, 117);
        }
        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: rgb(117, 117, 117);
        }

        &::placeholder {
            /* Most modern browsers support this now. */
            color: rgb(117, 117, 117);
        }
    }
}
