{% block checkout_plugin_config_section_order_state %}
    <div class="checkout-plugin-config-section-order-state">
        {% block checkout_plugin_config_section_order_state_loading %}
            <sw-loader v-if="isLoading" />
        {% endblock %}

        {% block checkout_plugin_config_section_order_state_content %}
            <template v-else>
                {% block  checkout_plugin_config_section_order_state_content_paid_select %}
                    <sw-single-select
                        v-model="config.orderStateForPaidPayment"
                        :options="orderOptions"
                        :label="$t('checkout-payments.config.orderState.orderStateForPaidPaymentLabel')"
                    />
                {% endblock %}

                {% block  checkout_plugin_config_section_order_state_content_failed_select %}
                    <sw-single-select
                        v-model="config.orderStateForFailedPayment"
                        :options="orderOptions"
                        :label="$t('checkout-payments.config.orderState.orderStateForFailedPaymentLabel')"
                    />
                {% endblock %}

                {% block  checkout_plugin_config_section_order_state_content_authorized_select %}
                    <sw-single-select
                        v-model="config.orderStateForAuthorizedPayment"
                        :options="orderOptions"
                        :label="$t('checkout-payments.config.orderState.orderStateForAuthorizedPaymentLabel')"
                    />
                {% endblock %}

                {% block  checkout_plugin_config_section_order_state_content_voided_select %}
                    <sw-single-select
                        v-model="config.orderStateForVoidedPayment"
                        :options="orderOptions"
                        :label="$t('checkout-payments.config.orderState.orderStateForVoidedPaymentLabel')"
                    />
                {% endblock %}
            </template>
        {% endblock %}
    </div>
{% endblock %}
