{% block checkout_com_payment_method_apple_pay %}
    <div class="checkout-com-payment-method-apple-pay">
        {% block checkout_com_payment_method_apple_pay_external_link %}
            <div class="checkout-com-payment-method-apple-pay-external-link">
                <sw-external-link
                    rel="noopener"
                    icon="small-arrow-small-external"
                    :href="setupLink"
                    target="_blank"
                >
                    {{ $tc('checkout-payments.paymentMethod.applePay.configuration.externalLinkLabel') }}
                </sw-external-link>
            </div>
        {% endblock %}

        {% block checkout_com_payment_method_apple_pay_merchant_id %}
            <sw-field
                type="text"
                :disabled="!acl.can('payment.editor')"
                :value="paymentMethodConfigs.merchantId"
                :label="$tc('checkout-payments.paymentMethod.applePay.configuration.appleMerchantIdLabel')"
                :placeholder="$tc('checkout-payments.paymentMethod.applePay.configuration.appleMerchantIdLabel')"
                :help-text="$tc('checkout-payments.paymentMethod.applePay.configuration.appleMerchantIdHelpText')"
                @change="onInputChange('merchantId', $event)"
            />
        {% endblock %}

        {% block checkout_com_payment_method_apple_pay_domain %}
            <div class="checkout-com-payment-method-apple-pay-domain">
                {% block checkout_com_payment_method_apple_pay_domain_label %}
                    <!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
                    <label class="checkout-com-payment-method-apple-pay_upload-label">
                        {{ $tc('checkout-payments.paymentMethod.applePay.configuration.domainUploadLabel') }}
                    </label>
                {% endblock %}

                {% block checkout_com_payment_method_apple_pay_domain_upload_listener %}
                    <sw-upload-listener
                        auto-upload
                        :upload-tag="applePayFiles.domainMediaId.tag"
                        @media-upload-finish="uploadFinish('domainMediaId', $event)"
                    />
                {% endblock %}

                {% block checkout_com_payment_method_apple_pay_domain_upload_media %}
                    <checkout-com-media-compact-upload-v2
                        variant="regular"
                        :disabled="!acl.can('payment.editor')"
                        :upload-tag="applePayFiles.domainMediaId.tag"
                        :allow-multi-select="false"
                        :source="applePayFiles.domainMediaId.preview"
                        :file-accept="applePayFiles.domainMediaId.accept"
                        :media-is-private="true"
                        @media-drop="onMediaDropped('domainMediaId', $event)"
                        @media-upload-remove-image="onRemoveMedia('domainMediaId')"
                    />
                {% endblock %}
            </div>
        {% endblock %}

        {% block checkout_com_payment_method_apple_pay_key %}
            <div class="checkout-com-payment-method-apple-pay-key">
                {% block checkout_com_payment_method_apple_pay_key_label %}
                    <!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
                    <label class="checkout-com-payment-method-apple-pay_upload-label">
                        {{ $tc('checkout-payments.paymentMethod.applePay.configuration.keyUploadLabel') }}
                    </label>
                {% endblock %}

                {% block checkout_com_payment_method_apple_pay_key_upload_listener %}
                    <sw-upload-listener
                        auto-upload
                        :upload-tag="applePayFiles.keyMediaId.tag"
                        @media-upload-finish="uploadFinish('keyMediaId', $event)"
                    />
                {% endblock %}

                {% block checkout_com_payment_method_apple_pay_key_upload_media %}
                    <checkout-com-media-compact-upload-v2
                        variant="regular"
                        :disabled="!acl.can('payment.editor')"
                        :upload-tag="applePayFiles.keyMediaId.tag"
                        :allow-multi-select="false"
                        :source="applePayFiles.keyMediaId.preview"
                        :file-accept="applePayFiles.keyMediaId.accept"
                        :media-is-private="true"
                        @media-drop="onMediaDropped('keyMediaId', $event)"
                        @media-upload-remove-image="onRemoveMedia('keyMediaId')"
                    />
                {% endblock %}
            </div>
        {% endblock %}

        {% block checkout_com_payment_method_apple_pay_pem %}
            <div class="checkout-com-payment-method-apple-pay-pem">
                {% block checkout_com_payment_method_apple_pay_pem_label %}
                    <!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
                    <label class="checkout-com-payment-method-apple-pay_upload-label">
                        {{ $tc('checkout-payments.paymentMethod.applePay.configuration.pemUploadLabel') }}
                    </label>
                {% endblock %}

                {% block checkout_com_payment_method_apple_pay_pem_upload_listener %}
                    <sw-upload-listener
                        auto-upload
                        :upload-tag="applePayFiles.pemMediaId.tag"
                        @media-upload-finish="uploadFinish('pemMediaId', $event)"
                    />
                {% endblock %}

                {% block checkout_com_payment_method_apple_pay_pem_upload_media %}
                    <checkout-com-media-compact-upload-v2
                        variant="regular"
                        :disabled="!acl.can('payment.editor')"
                        :upload-tag="applePayFiles.pemMediaId.tag"
                        :allow-multi-select="false"
                        :source="applePayFiles.pemMediaId.preview"
                        :file-accept="applePayFiles.pemMediaId.accept"
                        :media-is-private="true"
                        @media-drop="onMediaDropped('pemMediaId', $event)"
                        @media-upload-remove-image="onRemoveMedia('pemMediaId')"
                    />
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
