{% block checkout_com_payment_method_apple_pay %}
    <div class="checkout-com-payment-method-apple-pay">
        {% block checkout_com_payment_method_apple_pay_external_link %}
            <div class="checkout-com-payment-method-apple-pay-external-link">
                {% block checkout_com_payment_method_apple_pay_external_link_label %}
                    <sw-external-link
                        rel="noopener"
                        icon="small-arrow-small-external"
                        :href="setupLink"
                        target="_blank"
                    >
                        {{ $tc('checkout-payments.paymentMethod.applePay.configuration.externalLinkLabel') }}
                    </sw-external-link>
                {% endblock %}
            </div>
        {% endblock %}

        {% block checkout_com_payment_method_apple_pay_merchant_id %}
            <sw-inherit-wrapper
                :disabled="!acl.can('payment.editor')"
                :value="paymentMethodConfigs.merchantId"
                :inherited-value="parentPaymentMethodConfigs.merchantId"
                :has-parent="isNotDefaultSalesChannel"
                @input="onInputChange('merchantId', $event)"
            >
                <template #content="props">
                    {% block checkout_com_payment_method_apple_pay_merchant_id_field %}
                        <sw-field
                            type="text"
                            :map-inheritance="props"
                            :disabled="!acl.can('payment.editor') || props.isInherited"
                            :value="props.currentValue"
                            :label="$tc('checkout-payments.paymentMethod.applePay.configuration.appleMerchantIdLabel')"
                            :placeholder="$tc('checkout-payments.paymentMethod.applePay.configuration.appleMerchantIdLabel')"
                            :help-text="$tc('checkout-payments.paymentMethod.applePay.configuration.appleMerchantIdHelpText')"
                            @change="props.updateCurrentValue"
                        />
                    {% endblock %}
                </template>
            </sw-inherit-wrapper>
        {% endblock %}

        {% block checkout_com_payment_method_apple_pay_key %}
            <div class="checkout-com-payment-method-apple-pay-key">
                {% block checkout_com_payment_method_apple_pay_key_wrapper %}
                    <checkout-com-inherit-media-upload
                        :label="$tc('checkout-payments.paymentMethod.applePay.configuration.keyUploadLabel')"
                        :disabled="!acl.can('payment.editor')"
                        :can-remove="acl.can('payment.deleter')"
                        :value="applePayFiles.keyMediaId.preview"
                        :inherited-value="parentCheckoutMediaPreviews.keyMediaId"
                        :has-parent="isNotDefaultSalesChannel"
                        :upload-tag="applePayFiles.keyMediaId.tag"
                        :file-accept="applePayFiles.keyMediaId.accept"
                        @set-loading="emitLoading"
                        @input="onMediaUpdate('keyMediaId', $event)"
                    />
                {% endblock %}
            </div>
        {% endblock %}

        {% block checkout_com_payment_method_apple_pay_pem %}
            <div class="checkout-com-payment-method-apple-pay-pem">
                {% block checkout_com_payment_method_apple_pay_pem_wrapper %}
                    <checkout-com-inherit-media-upload
                        :label="$tc('checkout-payments.paymentMethod.applePay.configuration.pemUploadLabel')"
                        :disabled="!acl.can('payment.editor')"
                        :can-remove="acl.can('payment.deleter')"
                        :value="applePayFiles.pemMediaId.preview"
                        :inherited-value="parentCheckoutMediaPreviews.pemMediaId"
                        :has-parent="isNotDefaultSalesChannel"
                        :upload-tag="applePayFiles.pemMediaId.tag"
                        :file-accept="applePayFiles.pemMediaId.accept"
                        @set-loading="emitLoading"
                        @input="onMediaUpdate('pemMediaId', $event)"
                    />
                {% endblock %}
            </div>
        {% endblock %}

        {% block checkout_com_payment_method_apple_pay_domain %}
            <div
                v-if="domainMedias.data.length > 0"
                class="checkout-com-payment-method-apple-pay-domain"
            >
                {% block checkout_com_payment_method_apple_pay_domain_label_wrapper %}
                    <div class="checkout-com-payment-method-apple-pay-domain_label-wrapper">
                        {% block checkout_com_payment_method_apple_pay_domain_label_wrapper_label %}
                            <!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
                            <label class="checkout-com-payment-method-apple-pay-domain_label-wrapper-label">
                                {{ $tc('checkout-payments.paymentMethod.applePay.configuration.domainUploadLabel') }}
                            </label>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block checkout_com_payment_method_apple_pay_domain_grid %}
                    <sw-data-grid
                        :compact-mode="false"
                        :show-selection="false"
                        :show-actions="false"
                        :data-source="domainMedias.data"
                        :columns="domainColumns"
                    >
                        <template #column-media="{ item, itemIndex }">
                            {% block checkout_com_payment_method_apple_pay_domain_grid_column_media %}
                                <checkout-com-inherit-media-upload
                                    class="checkout-com-payment-method-apple-pay-domain_column-media"
                                    :disabled="!acl.can('payment.editor')"
                                    :can-remove="acl.can('payment.deleter')"
                                    :value="item.media"
                                    :upload-tag="domainMedias.tag + itemIndex"
                                    :file-accept="domainMedias.accept"
                                    @set-loading="emitLoading"
                                    @input="onDomainMediaUpdate(item.id, $event)"
                                />
                            {% endblock %}
                        </template>
                    </sw-data-grid>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
