{% block checkout_com_apple_pay_direct %}
    {% set applePayDirectOptions = {
        "shopName": config('core.basicInformation.shopName'),
        "validateMerchantPath": path('store-api.checkout-com.validate-merchant'),
        "addProductToCartPath": path('store-api.checkout-com.direct.add-product-to-cart'),
        "removeBackupPath": path('store-api.checkout-com.direct.remove-backup'),
    } %}

    <div id="checkoutComApplePayDirect"
         data-checkout-com-apple-pay-direct="true"
         data-checkout-com-apple-pay-direct-options='{{ applePayDirectOptions|json_encode }}'
    >
    </div>
{% endblock %}
