{% block sw_settings_payment_detail_custom_field_sets %}
    {% parent %}

    {% block checkout_com_payment_method_condition_display_component %}
        <template v-if="isCheckoutConfigDisplay">
            {% block checkout_com_payment_method_card %}
                <sw-card
                    :is-loading="isLoadingComponent"
                    :title="$tc('checkout-payments.paymentMethod.general.configurationTitle')"
                    class="checkout-com-payment-method-configuration"
                    position-identifier="sw-settings-payment-detail-configuration"
                >
                    {% block checkout_com_payment_method_sales_channel_select %}
                        <sw-entity-single-select
                            :placeholder="$tc('sw-sales-channel-switch.labelDefaultOption')"
                            :label="$tc('sw-settings.system-config.labelSalesChannelSelect')"
                            :search-placeholder="$tc('sw-sales-channel-switch.placeholderSelect')"
                            :reset-option="$tc('sw-sales-channel-switch.labelDefaultOption')"
                            :value="salesChannelId"
                            entity="sales_channel"
                            show-clearable-button
                            @change="onSalesChannelChanged"
                        >
                            {% block checkout_com_payment_method_sales_channel_select_label %}
                                <template #labelProperty="{item, labelProperty}">
                                    {% block checkout_com_payment_method_sales_channel_select_label_span %}
                                        <span v-if="item.translated">{{ item.translated[labelProperty] }}</span>
                                    {% endblock %}
                                </template>
                            {% endblock %}
                        </sw-entity-single-select>
                    {% endblock %}

                    {% block checkout_com_payment_method_apple_pay_component %}
                        <checkout-com-payment-method-apple-pay
                            v-if="isApplePay"
                            :payment-method-configs="checkoutPaymentMethodConfig"
                            :parent-payment-method-configs="parentCheckoutPaymentMethodConfig"
                            :parent-checkout-media-previews="parentCheckoutMediaPreviews"
                            :sales-channel-id="salesChannelId"
                            @set-loading="setLoading"
                            @save-system-config="saveSystemConfig"
                            @set-parent-checkout-media-preview="setParentCheckoutMediaPreview"
                            @set-checkout-payment-configs="setCheckoutPaymentConfigs"
                        />
                    {% endblock %}

                    {% block checkout_com_payment_method_google_pay_component %}
                        <checkout-com-payment-method-google-pay
                            v-else-if="isGooglePay"
                            :payment-method-configs="checkoutPaymentMethodConfig"
                            :parent-payment-method-configs="parentCheckoutPaymentMethodConfig"
                            :sales-channel-id="salesChannelId"
                            @set-loading="setLoading"
                            @save-system-config="saveSystemConfig"
                            @set-checkout-payment-configs="setCheckoutPaymentConfigs"
                        />
                    {% endblock %}

                    {% block checkout_com_payment_method_card_payment_component %}
                        <checkout-com-payment-method-card-payment
                            v-else-if="isCardPayment"
                            :payment-method-configs="checkoutPaymentMethodConfig"
                            :parent-payment-method-configs="parentCheckoutPaymentMethodConfig"
                            :sales-channel-id="salesChannelId"
                            @set-loading="setLoading"
                            @save-system-config="saveSystemConfig"
                            @set-checkout-payment-configs="setCheckoutPaymentConfigs"
                        />
                    {% endblock %}
                </sw-card>
            {% endblock %}
        </template>
    {% endblock %}
{% endblock %}
