{% sw_extends '@Storefront/storefront/component/payment/payment-fields.html.twig' %}

{% block component_payment_methods %}
    {{ parent() }}

    {% block checkout_com_payment_fields_apple_pay_display %}
        {% set applePayDisplayOptions = {
            "selectedPaymentMethodId": selectedPaymentMethodId
        } %}

        <div id="checkoutComApplePayDisplay"
             class="checkout-com-apple-pay-display"
             data-checkout-com-apple-pay-display
             data-checkout-com-apple-pay-display-options='{{ applePayDisplayOptions|json_encode }}'
        >
        </div>
    {% endblock %}
{% endblock %}
