{% block checkout_com_payment_method_google_pay %}
    <div class="checkout-com-payment-method-google-pay">
        {% block checkout_com_payment_method_google_pay_merchant_id %}
            <sw-field
                type="text"
                :disabled="!acl.can('payment.editor')"
                :value="paymentMethodConfigs.merchantId"
                :label="$tc('checkout-payments.paymentMethod.googlePay.configuration.googleMerchantIdLabel')"
                :placeholder="$tc('checkout-payments.paymentMethod.googlePay.configuration.googleMerchantIdLabel')"
                :help-text="$tc('checkout-payments.paymentMethod.googlePay.configuration.googleMerchantIdHelpText')"
                @change="onInputChange('merchantId', $event)"
            />
        {% endblock %}
    </div>
{% endblock %}
